.nav {
	padding: 1.6rem 2.4rem;
}

.nav__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__name {
	display: flex;
	align-items: center;
	gap: 16px;
}

.nav__name > div {
	width: 40px;
	height: 40px;
	display: grid;
	place-items: center;
	border-radius: 6px;
}

.HTML {
	background-color: #fff1e9;
}

.CSS {
	background-color: #e0fdef;
}

.Javascript {
	background-color: #ebf0ff;
}

.Accessibility {
	background-color: #f6e7ff;
}

.nav__name img {
	width: 28.5px;
	height: 28.5px;
}

.nav__name span {
	color: var(--title);
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 100%;
}

.nav__toggler {
	display: flex;
	align-items: center;

	gap: 8px;
	min-height: 24px;
}

.nav__toggler > button {
	position: relative;
	padding: 4px;
	width: 32px;
	height: 20px;
	background-color: var(--purple);
	border-radius: 1em;
	border: none;
	cursor: pointer;
}
.nav__toggler > button > span {
	position: absolute;
	left: 4px;
	top: 50%;
	width: 12px;
	height: 12px;
	background-color: var(--white);
	border-radius: 50%;
}

.nav__toggler > img {
	width: 16px;
	height: 16px;
}

@media (min-width: 768px) {
	.nav {
		padding: 4rem 6.4rem 2rem;
	}

	.nav__name {
		gap: 32px;
	}

	.nav__name div {
		width: 56px;
		height: 56px;
		border-radius: 8px;
	}

	.nav__name img {
		width: 40px;
		height: 40px;
	}

	.nav__name span {
		font-size: 2.8rem;
	}

	.nav__toggler {
		gap: 16px;
		min-height: 28px;
	}

	.nav__toggler > button {
		width: 48px;
		height: 28px;
	}
	.nav__toggler > button > span {
		width: 20px;
		height: 20px;
	}

	.nav__toggler > img {
		width: 16px;
		height: 16px;
	}
}
